@charset "ISO-8859-1";

div.blueTable {
	font-family: "Comic Sans MS", cursive, sans-serif;
	border: 10px solid #FFFFFF;
	background-color: #FFFFFF;
	width: 300px;
	height: 300px;
	text-align: center;
	border-collapse: collapse;
}

.divTable.blueTable .divTableCell, .divTable.blueTable .divTableHead {
	border: 10px solid #865622;
	padding: 3px 3px;
}

.divTable.blueTable .divTableBody .divTableCell {
	font-size: 25px;
	font-weight: bold;

}

/*<!--.divTable.blueTable .divTableRow:nth-child(even) {
	background: #FFFFFF;
}

.divTable.blueTable .divTableCell:nth-child(even) {
	background: #FFFFFF;
}-->*/

.blueTable .tableFootStyle {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
}

.blueTable .tableFootStyle {
	font-size: 14px;
}

.blueTable .tableFootStyle .links {
	text-align: right;
}

.blueTable .tableFootStyle .links a  {
	display: inline-block;
	background: #1C6EA4;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}
.links1 a  {
	display: inline-block;
	background: #d42727;
	color: #FFFFFF;
	padding: 2px 8px;
	border-radius: 5px;
}
.links2 span  {
	display: inline-block;
	background: #ffffff;
	color: #008000;
	padding: 2px 8px;
	border-radius: 5px;
	width: 90%;
}
.blueTable .tableFootStyle .links a.active   {
	background: #d42727;/*a41c1c*/
}
a.ac   {
	background: #19bd26;/*a41c1c*/
}
.red {
	background:#000000;
	color: #FF0000;
}
.green {
	background:#ffffff;
	color:#000000;
}
.blueTable.outerTableFooter {
	border-top: none;
}

.blueTable.outerTableFooter .tableFootStyle {
	padding: 3px 5px;
}
/* DivTable.com */
.divTable {
	display: table;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell, .divTableHead {
	display: table-cell;
}

.divTableHeading {
	display: table-header-group;
}

.divTableFoot {
	display: table-footer-group;
}

.divTableBody {
	display: table-row-group;
}
